[2018-03-26 01:33] zramsay opened #14 "Design Architecture"
from: https://github.com/cosmos/cosmos-ledger/issues/7

close if irrelevant

[2018-03-26 01:34] zramsay opened #15 "Roadmap for production app"
from: https://github.com/cosmos/cosmos-ledger/issues/3

close if irrelevant

[2018-04-24 14:42] kidinamoto01 commented on #15
when will ledger for cosmos be available?

[2018-04-24 14:48] zramsay commented on #15
see https://github.com/cosmos/cosmos-sdk/issues/910

[2018-04-25 13:24] cwgoes opened #29 "Add virtualenv instructions, etc to README"
Using python 3 may result in problems when deleting/uploading apps to the ledger.

Using virtualenv is recommended. Update README to include additional instructions.

[2018-04-25 13:31] cwgoes opened #30 "Ledger not found using Go client on Linux x64"
Python client works but Go client does not.

To be further debugged (Arch Linux x64):

[code]

[2018-05-03 13:16] cwgoes opened #32 "ed25519 support, HD key derivation for secp256k1"
Implement single-path ed25519 key support, and HD multi-path key derivation for secp256k1.

[2018-05-04 09:10] #30 closed

[2018-05-17 14:30] cwgoes opened #42 "Write transaction parsing spec"
- What kinds of fields can be sent
- JSON validation rules (sorted keys, no spaces)
- How they should be displayed on the Ledger

[2018-05-17 14:31] cwgoes commented on #42
(assigned to @cwgoes)

[2018-05-18 20:08] cwgoes commented on #42
First draft at https://github.com/cosmos/ledger-cosmos/pull/43.

[2018-05-28 16:31] brejski opened #52 "Json validation"
According to the json parsing specification (from TXSPEC.md):

The Ledger device MUST validate that supplied JSON is valid. Our JSON specification is a subset of [RFC 7159](https://tools.ietf.org/html/rfc7159) - invalid RFC 7159 JSON is invalid Ledger JSON, but not all valid RFC 7159 JSON is valid Ledger JSON.

We add the following two rules:
- No spaces or newlines can be included, other than esc

[2018-05-28 16:43] brejski opened #53 "Add tests for scrolling logic"
Scrolling logic is currently implemented in ledger stack with no tests.
Move it to the library and add unit tests.

[2018-05-28 16:59] brejski opened #55 "Break down json_parser.h/cpp"
json_parser grew out of control to become a one big monster with tons of API representing different level of granularity (low level generic json parsing to very specific cosmos message parsing APIs).

We should move some of the higher level APIs to a new file.

[2018-05-28 17:02] brejski opened #56 "Define and consolidate coding style"
We are using bunch of various coding styles (function names, variable names, tabs/spaces, curlies on new lines etc.). We should agree on a single style, ideally something that we can auto-format and consolidate all the code.

[2018-05-28 20:54] brejski opened #58 "Remove deprecated API from ledger-goclient library"
Only those 2 APIs should be used to sign transaction message (sdk.StdSignMsg) i.e.
ledger.SignED25519
and
ledger.SignSECP256K1

The following APIs are now deprecated:
ledger.SignED25519_StdSignMsg
and
ledger.SignSECP256K1_StdSignMsdg

TODO: Remove deprecated APIs

[2018-05-30 12:07] #58 closed

[2018-06-30 19:32] jleni commented on #52
Consolidating issue https://github.com/cosmos/ledger-cosmos/issues/40 here

[2018-06-30 19:34] jleni commented on #32
HD secp256k1 is already implemented.
ed25519 has been temporarily disabled in PR https://github.com/cosmos/ledger-cosmos/pull/62

[2018-06-30 19:34] #32 closed

[2018-06-30 19:39] #29 closed

[2018-07-01 15:44] jleni commented on #55
is this still relevant?

[2018-07-01 15:45] jleni commented on #53
is this still relevant?

[2018-07-01 15:46] jleni commented on #33
This can be found here: https://github.com/cosmos/ledger-cosmos/blob/master/UISPEC.md

[2018-07-01 15:47] jleni commented on #15
I think this could be close. Could you confirm? @cwgoes @zramsay

[2018-07-01 20:20] brejski commented on #53
This issue is no longer valid. We now use pixel scrolling which is provided by ledger's SDK.

[2018-07-01 20:21] #53 closed

[2018-07-01 22:19] brejski commented on #55
Yes, it's part of the cleanup. json_parser contains transaction parsing code which should really be moved to another file.

[2018-07-01 22:54] brejski commented on #55
Issue has been fixed now.

[2018-07-01 22:54] #55 closed

[2018-07-02 06:10] cwgoes commented on #15
Haha, I'd never actually read the original issue, but we ended up implementing all of the listed features and more. This can be closed (I don't have permissions on this repo, you'll have to do it).

[2018-07-02 06:11] cwgoes commented on #73
That should no longer be necessary as that branch has been merged. I'll write a PR to update the dependency tomorrow.

[2018-07-02 09:29] #15 closed

[2018-07-02 09:29] jleni commented on #14
@cwgoes How about this one? Is it still relevant?

[2018-07-02 10:09] jleni commented on #54
Some definitions:
- LLVM style with 4 space indent
- DOxygen style comments (initial, improvements might be necessary)

The following PR aligns the code to those guidelines https://github.com/cosmos/ledger-cosmos/pull/75

[2018-07-02 10:09] jleni commented on #56
Some definitions:
- LLVM style with 4 space indent
- DOxygen style comments (initial, improvements might be necessary)

The following PR aligns the code to those guidelines https://github.com/cosmos/ledger-cosmos/pull/75

[2018-07-02 10:10] #56 closed

[2018-07-02 17:21] cwgoes commented on #14
This can be closed.

[2018-07-02 17:41] #14 closed

[2018-07-03 00:19] jackzampolin opened #78 "Python Install Instructions"
I was testing out the ledger app today and its great! Thank you @brejski and @jleni! Trying the install from scratch instructions I ran into some issues however. I was able to get everything built in `docker` with no issues, however when I tried to

[code]
I ran into errors using `python2.7`. I was able to fix this by running `python3.7`, using a `virtualenv` and `pip install ledgerblue`. This dir

[2018-07-03 03:37] cwgoes commented on #78
Were you able to load/unload the application with python3.7?

[2018-07-03 14:59] jackzampolin commented on #78
@cwgoes Yup! No issues there. Had to `pip install` a couple of things but it worked.

[2018-07-03 17:22] jleni commented on #52
Linking to PR https://github.com/cosmos/ledger-cosmos/pull/77

[2018-07-03 19:57] cwgoes commented on #78
Great - do you want to write a PR for the README?

[2018-07-04 10:51] jleni commented on #52
Linking to PR https://github.com/cosmos/ledger-cosmos/pull/79

[2018-07-06 06:56] brejski commented on #73
Hey Adrian, goclient.go is still using (branch cwgoes/ledger-integration  da66010), which is based on sequences (as an array). This is currently failing json validation. Should we update this dependency to master or any other branch?

[2018-07-12 08:50] jleni commented on #52
I guess that after #81 #80 we can close this ticket?
@brejski @cwgoes

[2018-07-12 17:46] cwgoes commented on #52
Yes; I think we can close this.

[2018-07-12 19:35] brejski commented on #52
Yes

[2018-07-12 19:35] #52 closed

[2018-11-29 09:30] fedekunze opened #91 "broken links on README"
all the links on the readme are currently broken

[2018-11-29 10:30] jleni commented on #91
Thanks! I will fix them later today. In the meantime, you can find the latest markdown documents here:
https://github.com/ZondaX/ledger-cosmos-app/tree/f2785ebbcdc3271b5aa7f68b60c6a7f950d61089/docs

[2019-01-03 16:00] #91 closed

[2019-01-03 16:00] #78 closed

[2019-01-24 05:06] alessio opened #99 "Can't load user firmware"
Whilst I could build and upload the validator app successfully, `nanocli.sh uload` failed to load the user app:

[code]

The device's firmware is 1.5.5.

Thanks for considering.

[2019-01-24 05:13] jleni commented on #99
Hi @alessio
You can install the user app directly from Ledger's app store (Ledger Live). You will need to remember enabling "developer mode" in settings.

While Ledger released for firmware 1.5.5 by injecting the new SDK via an environment variable, the source code in this repo still needs to refresh the SDK. I will do it later today.

In the new version of the SDK that matches 1.5.5, the TARGET_I

[2019-01-24 05:21] alessio commented on #99
Thanks!

[2019-01-24 05:22] jleni commented on #99
I will reopen so I dont forget to update the SDK :)

[2019-01-28 06:45] #99 closed

[2019-02-04 10:05] jleni opened #101 "Add bech32 support + on-screen visualization"
We would like to add support for bech32 addresses + on screen visualization.
This will require the following changes. We can plan for that in this issue.

- [x] Include Bech32 support
- [x] Ledger API (available to gaia-cli / voyager )
    - support to show on-screen the public key for a certain HD path
    - support to show on-screen the bech32 address for a certain HD path
- [x] Adjust correspon

[2019-02-04 10:06] jleni commented on #101
@fedekunze do you have some additional feedback on this?

[2019-02-04 17:48] cwgoes commented on #101
The CLI/REST-side functionality shouldn't be a problem.

Can we make sure this works across networks? I guess setting the HRP every call would be one way to do that - but I wonder if that weakens security somewhat, if an application were to masquerade with another network's HRP. Storing the HRP on the device and allowing it to be set (perhaps with PIN entry) might be better in that aspect. I guess

[2019-02-04 17:59] jleni commented on #101
Yes, that was something we discussed with @jackzampolin.

When a ledger app is published, the first X items in the HD path are fixed and restricted by a ledger certificate/signature.

Cosmos networks are not indicated in the HD path, so the cosmos app with access to 44'/118'/.... can sign any cosmos network.

With respect to HRP. We could pass on calls but it is important to keep in mind that:
- n

[2019-02-04 19:50] zmanian commented on #101
We largely expect that keys will be portable between Cosmos networks. It's possibly that other chains will keep the same HRPs.

I'm trying to think if changing the HRP is a viable mechanism for an attack. My sense is that the HRP is not an attack surface and it would simplify things for app developers if the app accepts any HRP sent by an app.

[2019-02-04 20:15] zmanian commented on #101
We probably need to have an API that enables send 2 HRPs. 1 for addresses and 1 for public keys.

[2019-02-04 20:18] jleni commented on #101
I was thought we could use a base HRP and others are created by concatenating: HRP+"pub", etc.

[2019-02-04 21:17] zmanian commented on #101
I guess that's a safe assumption.
https://github.com/cosmos/cosmos-sdk/blob/develop/docs/spec/addresses/bech32.md

[2019-02-12 09:19] jleni commented on #101
As discussed in Slack, only addresses will be shown in the user app.

[2019-02-15 10:50] jleni commented on #101
The first round is ready.
- The latest version of the Cosmos User app support the feature
- Libraries has been updated
- We need to coordinate with @fedekunze the Voyager integration
- I have opened an issue for the gaiacli integration (https://github.com/cosmos/cosmos-sdk/issues/3658)

[2019-02-19 09:55] jleni opened #106 "Improve README. Document Ledger's app store installation, etc."

[2019-02-19 12:09] #106 closed

[2019-02-20 15:35] jleni opened #108 "Validator app should allow for multiple keys"
Related to https://github.com/tendermint/kms/issues/177

Extend API / APDU to support multiple keys

[2019-02-20 18:27] jleni opened #1 "Delete and replace with a fork"
It would be good if we delete this repo and fork from https://github.com/zondax/ledger-cosmos-app (this actually from where Ledger has forked from).

[2019-02-20 18:28] jleni opened #109 "Replace submodule link"
Once this issue has been closed https://github.com/cosmos/ledger-cosmos-app/issues/1

Redirect the submodule link for the cosmos app to `github.com/cosmos/....`

[2019-02-26 09:42] jleni opened #22 "Validator app freezes if host disconnects during user interaction"
Steps:

1. Vote is sent to the app and the initialization screen is shown
2. app answers with *flags |= IO_ASYNCH_REPLY; and shows a menu for user confirmation.
3. Before the user replies, stop the client in the host
4. Click reject:
[code]

[2019-02-26 09:42] jleni opened #110 "Validator app freezes if host disconnects during user interaction"
Steps:

1. Vote is sent to the app and the initialization screen is shown
2. app answers with *flags |= IO_ASYNCH_REPLY; and shows a menu for user confirmation.
3. Before the user replies, stop the client in the host
4. Click reject:
[code]

[2019-02-28 18:39] #1 closed, assigned to jackzampolin

[2019-02-28 18:48] jleni commented on #101
Update:

- Ledger has received the PR for v1.1.0 https://github.com/LedgerHQ/ledger-app-cosmos/pull/3
- Hopefully this will get published in their app store in the March release
- Integration into gaiacli has been merged https://github.com/cosmos/cosmos-sdk/pull/3670
- JS library is ready https://github.com/ZondaX/ledger-cosmos-js/pull/9
- Voyager integration is pending https://github.com/cosmos/v

[2019-02-28 18:53] #109 closed

[2019-03-01 09:52] jleni opened #113 "replace nanocli with a Makefile"

[2019-03-05 10:26] jleni opened #115 "Cosmos App - Unicode support (UTF8) multibyte characters"
Some elements in the transaction may contain multibyte Unicode characters (UTF8).

Ledger devices cannot show these characters in the screen and treat them as multiple not representable characters.

Improve support for UTF8 values

[2019-03-05 10:29] jleni opened #116 "Cosmos App - Add support for friendly names in Transaction Viewer"
At the moment, the Cosmos app allows navigating transactions by traversing JSON as a tree and showing in the screen key-value pairs. JSON is seen as a nested dictionary and keys as a path to arrive to the corresponding value.

Some paths are long and not easy to understand. Given that there are several quite common paths, introduce a lookup table with friendly names for the most common elements.

[2019-03-10 20:09] phonikg opened #118 "Error "wrong targetId" while running `./nanocli.sh vload`"
It seems that the script is incorrectly identifying my Nano S Firmware v1.4.2 as having a targetID of `31100004` rather than the correct targetID of `3110003` as per Ledger [Github](https://github.com/LedgerHQ/blue-loader-python/tree/0.1.23#target-id) resulting in the following error:

`ledgerblue.commException.CommException: Exception : Invalid status 6484 (Are you using the correct targetId?`

*

[2019-03-10 20:17] jleni commented on #118
Hi @phonikg
It is not a 'detection' issue...
The app is compiled with the SDK that is added as a submodule here:

https://github.com/cosmos/ledger-cosmos/tree/master/deps

The SDK defines the applicable TARGET_ID. If you want to use a different firmware version, you will need to change the SDK by pointing the submodule to another tag. In practice, I am actually not sure if it will work.. as change

[2019-03-10 21:20] phonikg commented on #118
Thanks @jleni ,

I may be confused then as I read that "This project requires ledger firmware 1.4.2" but it looks like the SDK that is added is for 1.5.5 is that correct?

I was successful in sideloading onto a Ledger Nano w/ v1.5.5 but am getting the i/o timeout error on gaiad startup, was hoping to install on a v1.4.2 to see if the lower latencywould alleviate that error.

Is the requirement v1.

[2019-03-10 21:22] jleni opened #119 "Update README.md"
Thanks @jleni ,

I may be confused then as I read that "This project requires ledger firmware 1.4.2" but it looks like the SDK that is added is for 1.5.5 is that correct?

I was successful in sideloading onto a Ledger Nano w/ v1.5.5 but am getting the i/o timeout error on gaiad startup, was hoping to install on a v1.4.2 to see if the lower latencywould alleviate that error.

Is the requirement v1.

[2019-03-10 21:25] jleni commented on #118
yes, the readme has not been updated. I have created an issue.

What kind of timeout error are you getting?

[2019-03-10 21:41] phonikg commented on #118
Re: Update README.md -  that makes sense then thanks for clarification.

Re timeout error when connecting gaiad to tmkms(ledger) I am getting the following error in gaiad on startup:

While tmkms is running and the output is as follows:

[admin@localhost ~]$ tmkms start -c ~/.tmkms/tmkms.toml
21:34:59 [INFO] tmkms 0.4.0 starting up...
21:34:59 [INFO] [keyring:ledgertm:ledgertm] added validator key

[2019-03-11 13:30] cwgoes commented on #101
Agreed (I don't have permissions to close it) - thanks @jleni.

[2019-03-11 13:33] #101 closed

[2019-03-11 13:59] jleni opened #120 "Tendermint app behaves differently when compiled with SDK 1.4.2 or SDK 1.5.5"
The validator app generates different keys when compiled with different SDKs.
The reason is that when upgrading the SDK / Firmware, the behavior of `os_perso_derive_node_bip32` changes.

|Ledger SDK   | API  |  Ed25519+bip32 implementation |
|---|---|---|
| 1.5.5  | `os_perso_derive_node_bip32_seed_key`  | new implementation <br> (only exists in 1.5.5)  |
| 1.5.5 |   `os_perso_derive_node_bip32`

[2019-03-11 14:35] jleni commented on #120
Fixed in PR https://github.com/tendermint/ledger-validator-app/pull/10 and merged in #121

[2019-03-11 14:35] #120 closed

[2019-03-11 14:37] jleni commented on #118
I have been discussing this with Ledger today and you might be interested in this issue #120
The app will now run only in with SDK >= 1.5.5 to avoid this issue

[2019-03-11 14:37] #118 closed

[2019-03-11 15:34] adrianbrink commented on #120
Does this mean that as long as the Ledger was upgraded to 1.5.5 everything is fine and the derivation didn't change?

[2019-03-11 16:09] jleni commented on #120
Yes, this issue would not be applicable in that case.
Only if you are using 1.4.2 and did compile from source.

[2019-03-11 16:10] jleni commented on #120
To confirm, you can always run the python script offline and check the keys:

I explained a bit more here:
https://github.com/tendermint/tendermint/issues/3320#issuecomment-471567939

[2019-03-12 17:50] jleni opened #122 "Cosmos App - Check source address matches signing address"
The device should confirm that the source address in the transaction matches the corresponding HD address that will be used to sign.

[2019-03-13 16:29] jleni commented on #115
Reopening until it is integrated

[2019-03-14 12:25] jleni opened #2 "Delete repo and fork again"
This repo has been kept up to date by pushing updates but this is problematic because it is not possible to correctly create pull requests.

We need to:
- deprecate/delete this repo
- cosmos should fork from:
  - https://github.com/ZondaX/ledger-cosmos-app
  - or https://github.com/LedgerHQ/ledger-app-cosmos

This was it is possible to link PR requests that are sent to Ledger
@ebuchman @jackzampol

[2019-03-14 12:48] jleni commented on #119
Reopening and linking to Ledger's PR https://github.com/LedgerHQ/ledger-app-tendermint/pull/2

[2019-03-14 15:16] mossid opened #126 ""Authentication method blocked" error while signing transaction"
[code]

Enviorment:
* Device: Ledger Nano S
* Firmware version: 1.4.2
* App Version: 1.0.0
* Ledger Live Version: 1.6.0

[2019-03-14 15:19] jleni commented on #126
Thanks!
This issue has been fixed in v1.0.1 and upwards.
Could you please try upgrading?

[2019-03-14 15:20] jleni commented on #126
if it does not work please reopen this issue

[2019-03-14 15:20] #126 closed

[2019-03-14 15:23] mossid commented on #126
Thanks, however, ledger live is only showing Cosmos app v1.0.0, it is built from the source with `yarn`. Running in developer mode.

[2019-03-14 15:25] jleni commented on #126
This is probably because v1.0.1 and upwards require your ledger to upgrade to 1.5.5

There are known vulnerabilities in Ledger firmware 1.4.2, please upgrade to 1.5.5

Once you upgrade, you should see the latest Cosmos app, i.e. v1.1.1

[2019-03-20 17:06] jleni opened #127 "Change Cosmos app name"
Change app name from COSMOS to Cosmos

[2019-03-20 19:43] #119 closed

[2019-03-25 15:05] #113 closed

[2019-04-11 07:17] awrelll opened #133 "Ledger Blue"
Are there any plans to support Blue also ?
Thanks

[2019-04-12 11:08] jbibla opened #134 "Reject button is unresponsive"
hello @jleni !

thank you for all your work on this ledger app!

i tried to reject a transaction on my ledger nano s but the reject button seems unresponsive. seems like nothing happens at all.

ledger nano s firmware: v1.5.5
cosmos-ledger app: v1.1.1

[2019-04-12 22:15] zmanian commented on #133
The blue is pretty much deprecated product. No plans to support

[2019-04-19 10:51] jleni commented on #116
Waiting for integration in https://github.com/LedgerHQ/ledger-app-cosmos/pull/5

[2019-04-19 10:52] jleni commented on #127
Waiting for integration (https://github.com/LedgerHQ/ledger-app-cosmos/pull/5)

[2019-04-19 10:52] jleni commented on #115
Waiting for integration (LedgerHQ/ledger-app-cosmos#5)

[2019-04-19 10:53] jleni commented on #134
I cannot reproduce this problem. I will contact you directly too discuss repro steps.

[2019-04-22 14:04] jbibla commented on #134
i was not able to reproduce this again either. will close for now.

[2019-04-22 14:04] #134 closed

[2019-04-25 07:02] jleni opened #3 "INS_GET_ADDR_SECP256K1 does not return the correct public key"
The new command `INS_GET_ADDR_SECP256K1` does not return the correct public key.
This is a new command that is not in used and the issue only affects unreleased v1.5

[2019-04-25 09:07] #3 closed, assigned to nobody

[2019-05-03 13:14] #133 closed

[2019-05-03 13:15] #127 closed

[2019-05-03 13:15] #116 closed

[2019-05-03 13:15] #115 closed

[2019-05-03 13:16] jleni commented on #127
LedgerHQ/ledger-app-cosmos#5 has been merged. Closing.

[2019-05-03 13:16] jleni commented on #116
LedgerHQ/ledger-app-cosmos#5 has been merged. Closing.

[2019-05-03 13:16] jleni commented on #115
LedgerHQ/ledger-app-cosmos#5 has been merged. Closing.

[2019-05-03 13:18] jleni opened #137 "Add command to query device type and firmware versions"
Add support to query device type, firmware (secure element, MCU), etc.
Model or introduce the same behaviour as `0xe0 01 00 00 00`

Related to https://github.com/cosmos/ledger-cosmos-js/issues/7

[2019-05-06 11:16] jleni opened #138 "Ledger Cosmos App hangs in address confirmation screen"
Linked ticket:  https://github.com/cosmos/ledger-cosmos-js/issues/9

@faboweb

[2019-05-12 21:12] jleni opened #140 "Allow accessing cosmos bech32 addresses directly from device menu"

[2019-05-12 21:13] jleni opened #141 "Improve Tx review (fees)"
Improve the way transaction fees and amounts are represented when reviewing transaction.
Improve JSON parser to understand these fees/amounts/denominations.
Add a menu to allow selecting units are atoms or uatoms.

[2019-05-13 12:10] jleni opened #142 "Split and move Tendermint Validator app to its own repo"

[2019-05-16 08:46] jleni commented on #140
Submitted to Ledger
https://github.com/LedgerHQ/ledger-app-cosmos/pull/7

[2019-05-18 13:40] awrelll opened #143 "Increase amount of tokens the JSON tokenizer can handle"
I get this error `ERROR: NOMEM: JSON string contains too many tokens
` while using the CLI to do  `gaiacli tx distr withdraw-all-rewards`.
Using LedgerNanoS with Cosmos app 1.5 and gaiacli `0.34.3-120-gf8fd50a0`

[2019-05-18 14:52] zmanian opened #144 "Regression between 0.34.3 and 0.34.4 for displaying keys from gaiacli"
Displaying my key on the device with gaiacli works on `v0.34.3` but not on `v0.34.4`

[code]

[code]
Keys is displayed on the ledger

[code]

[code]
Key is not displayed on the ledger.

[2019-05-18 15:24] zmanian commented on #144
Okay the problem is I can't figure out how to reproducibly build the working version.

I think the issue is in the version of  `leger-cosmos-go` but versions like `v0.9.10` don't build for dependency management issues.

[2019-05-19 14:16] jleni opened #145 "Improve Tx Review Layout - remove secp256k1 title"
The layout could be improved by removing secp256k1 from the title

[2019-05-19 15:19] jleni commented on #144
@zmanian I have just tried it out but I could not reproduce the problem.
What is your:
- Device Type?  Nano X or Nano S
- Cosmos App Version?

[2019-05-19 19:37] jleni commented on #138
There has been significant changes in v1.5.1 and this issue does not seem to be reproducible in this new release. I will keep the bug open so we can review the fix once this new version is published.

[2019-05-19 19:44] #2 closed, assigned to ebuchman

[2019-05-20 08:14] faboweb commented on #138
Looking forward to it.

Am So., 19. Mai 2019 um 21:37 Uhr schrieb Juan Leni <
notifications@github.com>:

--
Greets Fabo

[2019-05-20 13:25] zmanian commented on #144
Nano S

Cosmos App V1.5

[2019-05-21 12:15] jleni commented on #144
Moving the issue to gaia
https://github.com/cosmos/gaia/issues/13

[2019-05-21 12:15] #144 closed

[2019-05-24 15:52] TheBonseung opened #147 "[Ledger nano X] ERROR: ledger nano S: no ledger connected"
I got this error. (I think it is the same with https://forum.cosmos.network/t/attention-ledger-cosmos-app-users/2083/5 )

$ gaiacli keys add <keyname> --ledger
ERROR: ledger nano S: no ledger connected

Environment
Device : Ledger Nano X (Ledger Live 1.8.1, Cosmos app 1.5)
OS : Ubuntu 18.04 (x64)
Gaiacli version : 0.34.2

[2019-05-25 08:43] jleni commented on #147
Thanks @TheBonseung for the report.

Nano X support is included in Gaia v0.34.5
https://github.com/cosmos/cosmos-sdk/releases/tag/v0.34.5

[2019-05-25 08:43] #147 closed

[2019-06-09 16:05] jleni opened #149 "Add WebUSB support to the Cosmos App"

[2019-06-09 16:06] jleni commented on #149
Waiting for integration as part of 1.5.3
https://github.com/LedgerHQ/ledger-app-cosmos/pull/7

[2019-07-01 09:37] jleni opened #150 "cache pubkey requests"
To avoid latency in HD derivations, cache pubkeys.

https://github.com/luniehq/lunie/issues/2754
related to https://github.com/luniehq/lunie/issues/2754#issuecomment-507186798

[2019-07-01 21:26] jleni commented on #149
Merged + Released

[2019-07-01 21:26] #149 closed

[2019-07-01 21:26] jleni commented on #143
https://github.com/LedgerHQ/ledger-app-cosmos/pull/7
Merged + Released

[2019-07-01 21:26] #143 closed

[2019-07-01 21:27] jleni commented on #140
https://github.com/LedgerHQ/ledger-app-cosmos/pull/7
Merged + Released

[2019-07-01 21:27] #140 closed

[2019-07-01 21:27] jleni commented on #137
https://github.com/LedgerHQ/ledger-app-cosmos/pull/7
Merged + Released

[2019-07-01 21:27] #137 closed

[2019-07-01 21:29] jleni opened #151 "enable device type detection in getVersion"
It should be possible to recognize Nano S and X by using a getVersion command

[2019-07-07 15:07] jleni commented on #150
Waiting for integration of https://github.com/LedgerHQ/ledger-app-cosmos/pull/8

[2019-07-07 15:07] jleni commented on #151
Waiting for integration of https://github.com/LedgerHQ/ledger-app-cosmos/pull/8

[2019-07-07 15:08] jleni commented on #145
Waiting for integration of  https://github.com/LedgerHQ/ledger-app-cosmos/pull/8

[2019-07-08 10:41] faboweb opened #7 "UX ideas"
- Show the message type first. Most message types are not critical as the user doesn't loose access to  their tokens.
- Show amounts as text: [{amount: 1, denom: uatom}, {amount: 1, denom: stake}] = 1uatom, 1stake
- Show amounts as atoms: 100000uatom = 1atom
- Show short addresses: bech32 has a hashsum. The user then can doubletab to see the whole address
- Show sequence, account and chain-id late

[2019-07-10 12:10] jleni opened #152 "Validator app: App option to turn off screen"

[2019-07-10 16:38] thimomerke opened #153 "Cosmos app crashing"
I've been trying to sign a transaction (delegation/send ATOMs) with different web wallets/browsers/PCs. In every case, when pressing 'Sign transaction', Windows Security first shows an error, and when pressing again the Ledger simply crashes. (Ledger on 1.5.5, Cosmos 1.5.3)

[2019-07-10 20:03] jleni commented on #153
Very likely related to https://github.com/luniehq/lunie/issues/2754

[2019-07-10 20:20] #153 closed

[2019-07-15 08:44] shikharfb opened #154 "Unable to install submodules"
Issue while updating `submodules`

Command : `git submodule update --init --recursive`

Output:

[code]

[2019-07-15 08:47] jleni commented on #154
The submodules seen to be using SSH instead of HTTP.

I will update that to avoid these issues. In the meantime, a workaround is to connect to github with SSH credentials.

https://help.github.com/en/enterprise/2.16/user/articles/generating-a-new-ssh-key-and-adding-it-to-the-ssh-agent

[2019-07-15 09:31] shikharfb commented on #154
Cool, thanks.

[2019-07-15 09:31] #154 closed

[2019-07-21 08:05] saadbutt opened #155 "Ledger-Cosmo Generic C++ Code make Error"
[ 26%] Built target user_json_parser
make[3]: *** No rule to make target 'build_cosmos'.  Stop.
CMakeFiles/ledger_user_app.dir/build.make:57: recipe for target 'CMakeFiles/ledger_user_app' failed
make[2]: *** [CMakeFiles/ledger_user_app] Error 2
CMakeFiles/Makefile2:144: recipe for target 'CMakeFiles/ledger_user_app.dir/all' failed
make[1]: *** [CMakeFiles/ledger_user_app.dir/all] Error 2
Makefile

[2019-07-21 09:46] jleni commented on #155
I will investigate but in the meantime check at CircleCI config.

https://github.com/cosmos/ledger-cosmos/blob/8c389e18c92ba9bd6ad41780a938f07b0234e8fd/.circleci/config.yml#L12

If you run something like `cmake -DDISABLE_DOCKER_BUILDS=ON . && make` it will compile local code but it will not try to crosscompile the apps. Typically this is more efficient too.

[2019-07-21 10:03] saadbutt commented on #155
Working on local. Thanks.

[2019-07-21 10:04] saadbutt commented on #155
cmake -DDISABLE_DOCKER_BUILDS=ON . && make  Working on local for Now. Thanks

[2019-07-25 07:14] RNS135 opened #156 "Error Upload the app to the device"
Unable to run this command after following all steps:
"make load_cosmos          # Loads Cosmos app       (for users)"
Output of this command is:
make: *** No rule to make target 'load_cosmos'.  Stop.

Please help.

[2019-07-25 07:46] saadbutt commented on #156
We are facing a same issue after cmake -DDISABLE_DOCKER_BUILDS=ON . && make.
@jleni is there any other way to upload app to the device?

[2019-07-25 11:44] jleni commented on #156
There are actually two independent compilations...

Use cmake to run unit tests and develop on your host computer. That way it is possible to improve the decoder and other components without wasting time with the device.

Use make to build inside docker, etc. @RNS135 I think you are using the "internal" make file inside `src/ledger`. You should not use that. Instead run the `Makefile` in the root

[2019-07-25 11:50] jleni commented on #155
any reason why this ticket got reopened?

[2019-07-25 11:52] jleni commented on #156
@RNS135 @saadbutt if you found that this could solve your problems.

It would be great (if you have 5 minutes) if you could send a PR with some quick changes to the docs so other people in the future do not get confused about these differences.

[2019-07-26 04:20] RNS135 commented on #156
Sure @jleni, thanks

[2019-07-26 07:10] jleni commented on #156
It is now working? Should I close this issue then?

[2019-07-30 10:42] #156 closed

[2019-08-13 17:35] #155 closed

[2019-08-13 18:06] jleni opened #157 "Cannot sign in with Ledger devices in win10 may 2019 update + chrome"
Copying over https://github.com/luniehq/lunie/issues/2754 opened by @williamchong007 to simplify tracking.

The issue has been reproduced and affects browsers running Windows 10 v1903 (and upwards). The `U2F` transport has been affected by this upgrade.

`HID` and `WebUSB` transports are not affected.
Unfortunately, Windows 10 does not support WebUSB (unless drivers are manually installed).

*Curr

[2019-12-03 21:53] #151 closed

[2019-12-03 21:53] #145 closed

[2019-12-03 21:53] #150 closed

[2019-12-03 21:56] jleni commented on #138
Significant changes went into:
https://github.com/LedgerHQ/ledger-app-cosmos/pull/8
https://github.com/LedgerHQ/ledger-app-cosmos/pull/9

Please reopen with more information if you can reproduce this issue again.

[2019-12-03 21:56] #138 closed

[2019-12-03 21:57] jleni commented on #157
The latest recommendation with respect to this issue is to use:
- WebHID in Windows 10 (enabling Chrome v78+ WebHID support)
- WebUSB in Linux / MacOS

[2019-12-03 22:03] jleni opened #158 "menu option for unit conversion"
Add a menu option for unit conversion.
For instance, if the monetary unit is uatom, automatically convert to atom.

[2019-12-03 22:04] jleni commented on #141
This has been included as part of:
https://github.com/LedgerHQ/ledger-app-cosmos/pull/8
https://github.com/LedgerHQ/ledger-app-cosmos/pull/9

The only feature that has not been included is the menu to select units. This could be problematic because the Cosmos app operates in a generic way so any possible unit can be used.
I will close this issue and reopen one to for the specific menu option (http

[2019-12-03 22:04] #141 closed

[2019-12-06 05:23] YunSuk-Yeo opened #159 "[Firmware] After upgrade to ledger 1.6 can not open the app from the custom build"
After upgrade to ledger firmware 1.6, the ledger is stuck in "Open application" screen for the custom build and load. It may be the problem of ledger firmware at handling Non genuine app

[2019-12-06 13:18] jleni commented on #159
Have you upgraded to Cosmos app version > v2.x.x. Support for SDK 1.6 is already there.
https://github.com/LedgerHQ/ledger-app-cosmos/pull/10

Actually, we are already at v2.2 which is know to work well with firmware 1.6

[2019-12-06 13:19] jleni commented on #157
@faboweb Now that Lunie has upgraded to WebHID in Windows.
I think we can close this issue, agree?

[2019-12-06 13:30] faboweb commented on #157
Yes finally!!

[2019-12-06 13:48] #157 closed

[2019-12-08 19:12] wordkeepa commented on #157
How to enable WebHID in Chrome?

[2019-12-09 12:15] faboweb commented on #157
chrome://flags/#enable-experimental-web-platform-features

[2019-12-10 01:12] wordkeepa commented on #157
Thank you!

[2019-12-10 11:52] jleni commented on #159
@YunSuk-Yeo I will close for now. Please reopen and let me know if the suggestion didn't fix your problem.

[2019-12-10 11:52] #159 closed

[2019-12-10 18:04] jleni opened #160 "Add support for arbitrary messages"
SDK discussion: https://github.com/cosmos/cosmos-sdk/issues/4581

[2019-12-16 22:20] jleni commented on #160
https://github.com/cosmos/cosmos-sdk/issues/4581#issuecomment-564562003

[2019-12-18 15:56] asmodat opened #161 "Binaries For Testing"
Could binaries for testing new cosmos ledger app be published on github with instructions on how to flash them into the device? This would be a huge help for those trying to support other platforms.

[2019-12-24 23:46] jaekwon commented on #160
Are we talking about arbitrary (any) messages, or arbitrary human messages?
I think for the ledger, esp if it'll cause issues w/ store submission (getting away from "experimental"), we should consider limiting messages to arbitrary human messages, e.g. maybe with a "@type" of "custom" or something like that.  That way, you know that when you sign a "custom" JSON document, (by convention) it won't

[2020-01-13 01:00] DaveFlowberries opened #162 "Ledger App Does Not Show ATOM Value When Withdrawing and Delegating - Nano S"
I have no way of knowing what I am actually signing because the amount is displayed in UATOM. This is useless as I am not transacting in UATOM. Every time I use the app I cross my fingers that my account does not get drained.

[2020-01-13 01:06] zmanian commented on #162
1_000_000 = 1 ATOM.

I agree that it would be good to have a system in the ledger app for dividing by a millon

[2020-01-13 09:58] jleni commented on #162
At the moment the app is showing the values _exactly_ as they are expressed in the transaction. This is because the Cosmos app is currently generic and available to ANY Cosmos SDK based project.

We have already discussed doing conversions. It would be VERY VERY easy to do this for uATOM => ATOM.

There are still a few open questions:
- Other denominations may not be handled. Mixing values may con

[2020-01-14 03:42] zmanian commented on #162
I think it makes sense to do the conversion in the app for whitelisted token. I.e. Just uATOM to ATOM

[2020-01-31 10:01] shunjizhan opened #163 "What is "index" and "account" in the cosmos ledger app?"
I am a little bit confused about the addresses in the app, can someone help me?

When I open the cosmos app on ledger, there is a "show address" option that has a lot of addresses. However, when I use the Lunie wallet it seems to always connect to the address associated with "Account 0 and Index 0". Is the only actual address that is generated from the ledger 24-word mnemonic phrase? And what are

[2020-01-31 10:52] jleni commented on #163
Lunie decides to query a single address with that specific path `44'/118'/0'/0/0`

The app/device can derive any path that starts with 44'/118'/....  so you actually have an almost unlimited amount of addresses in the device. It is just a matter of the applications that you are using to access them. For example, the CLI can access most of them.

[2020-01-31 10:53] jleni commented on #163
I am closing this because it is not an issue but feel free to answer after that.

[2020-01-31 10:53] #163 closed

[2020-02-01 20:52] shunjizhan commented on #163
Thanks for the answer, that makes things much clear!

I have a follow up question: for bitcoin or other coins, a 24-word mnemonic phrase => a private key => a single address saved in ledger nano s. So how can cosmos have so many address based on one private key? Thanks a for your help : )

[2020-03-02 11:38] jleni opened #165 "Upgrade to new zondax project/repo structure"
This is on-hold until Ledger releases current codebase that is under review.

[2020-03-02 11:40] jleni commented on #165
- [ ] Restructure projects and unify repositories
- [ ] Migrate all issues to the new repository

[2020-05-25 08:27] shunjizhan opened #166 "Why is it obsolete?"
Is it still safe to use? Should I withdraw all atom from ledger nano wallet that use this app? Thanks!

[2020-05-25 08:30] jleni commented on #166
No, only the repository is obsolete. Do not worry. We have unified all code + tests in a single place:
https://github.com/cosmos/ledger-cosmos

[2020-05-25 08:30] #166 closed

[2020-05-25 20:57] shunjizhan commented on #166
Thanks for the clarification!

[2020-06-15 07:19] #7 closed, assigned to nobody

[2020-07-06 02:37] yuzhiyou1990 opened #33 "use hw-transport-u2f"
Error:
{return_code: 25600, error_message: "App Version is not supported"}

Browser:
Chrome

Ledger Cosmos App:
v2.16.1

Code:
[code]

other:
https://github.com/LedgerHQ/ledgerjs/issues/413

I'm trying to integrating a ledger nano s inside a chrome extension.

[2020-07-07 20:04] rhuairahrighairidh commented on #29
Thanks! verified as working in v2.16.1

[2020-11-24 16:44] faboweb opened #34 "Support for sending multiple denoms"
Apparently, the Ledger only shows one denom when sending multiple denoms

https://github.com/luniehq/lunie-light/issues/240

[2021-02-04 11:15] nndiaye-ledger opened #35 "Change chain ID to match "Stargate" to avoid confusion on costumer side"
Change chain ID to match "Stargate" to avoid confusion on costumer side

https://github.com/cosmos/ledger-cosmos/blob/6c194daa28936e273f9548eabca9e72ba04bb632/app/src/coin.h#L50

[2021-02-19 09:05] gagbo opened #36 "False positive on `json contains whitespace` during signature"
Version is 2.16.3 ran on LNX

Payload :

[code]

Sent as
[code]
and
[code]

I'm expecting a signature back, but instead I have
[code]

which seems to be `DATA_INVALID` with "JSON Contains whitespace in the corpus". The only whitespace I see in this payload is the one in the memo, and I don't think it should trigger the error. Is there something I'm missing ?

[2021-02-19 15:29] gagbo commented on #36
Pretty sure it was actually a Heisenbug. Thanks for your help on Slack :)

[2021-02-19 15:29] #36 closed, assigned to jleni

[2021-02-22 14:35] nndiaye-ledger commented on #35
Hi @jleni , would it be possible not to have the "chain Id" displayed on app when the non expert mode is disabled , same for "sequence" , "account" ?

[2021-02-23 11:34] #35 closed, assigned to jleni

[2021-04-06 21:02] jmahlers opened #37 "Support for setting the transaction fee"
Please add support for manually setting the transaction fee. Right now the default is quick but needlessly large if you are not in a rush.

[2021-06-04 16:32] harmangakhal opened #38 "Ledger can't sign MsgMultiSend"
Response from ledger:
[code]

trying to sign:

[code]
I can sign
[code]
but the signature fails validation when broadcasting.

I think it's related to https://github.com/cosmos/ledger-cosmos/blob/6c194daa28936e273f9548eabca9e72ba04bb632/app/src/tx_parser.c#L52-L61
https://github.com/cosmos/ledger-cosmos/blob/6c194daa28936e273f9548eabca9e72ba04bb632/app/src/tx_display.c#L422-L426

[2021-06-07 15:23] harmangakhal commented on #38
@jleni Is this repository no longer maintained? I can't create an issue at https://github.com/Zondax/ledger-cosmos.

[2021-06-09 12:06] jleni commented on #38
yes, please. We need to unify repositories

[2021-06-09 15:28] harmangakhal commented on #38
@jleni I can not create an issue at https://github.com/Zondax/ledger-cosmos. Can you enable the issue tab?
![Screenshot from 2021-06-09 08-25-51](https://user-images.githubusercontent.com/25003265/121383813-95794a80-c8fc-11eb-884e-357e28997b5a.png)

[2021-08-05 12:16] buuni opened #39 "Support gRPC transactions"
Not so long ago, Cosmos migrated from Rest API to gRPC, in this regard, the format of transactions for sending through the `cosmos.tx.v1beta1.Service/BroadcastTx` service has changed.
This kind of transaction cannot currently be signed via the ledger-app.
Do you plan to support gRPC transactions in ledger-app?

Thank you in advance.

[2021-09-17 22:03] domashno opened #40 "Cant add Atom account to ledger live desktop"
![image](https://user-images.githubusercontent.com/32385410/133858199-55506188-5aba-49cf-9ff4-d3d8ca8db3ed.png)

Hope helps

[2021-09-20 08:44] jleni commented on #40
This seems to be related to a problem in Ledger Live when parsing the server response:

This seemed to happened when retrieving chain data

![image](https://user-images.githubusercontent.com/13698520/133976250-00f1a6c4-8e74-40b8-9f37-9814c3c3b6c0.png)

This is not a problem on the app itself but in the Live desktop app. Nevertheless, we will contact Ledger and inform them about this issue.

[2021-09-20 09:13] #40 closed, assigned to nobody

[2021-09-20 09:13] domashno commented on #40
thank you

[2021-10-06 15:46] jleni commented on #37
The transaction fee is not set by the Ledger app but by the web or desktop client that you are using.
The device/firmware just shows what is receiving.

[2021-10-06 15:46] #37 closed, assigned to nobody

[2021-11-04 07:57] ong-ar opened #41 "can't use 'cosmos-sdk/MsgWithdrawValidatorCommission' msgType"
Ledger Nano has a hard limit of max 39 characters for Msg type values, and will fail with a “Error: Unrecognized error code”.

please, check it.

[2022-02-12 18:17] jleni commented on #39
Could you provide more information / context ?

REST/gRPC are protocols that are related to completely other layers.

Ledger apps receive a small tx blob and work along USB/Bluetooth. There is no network endpoint in this layer.

[2022-02-12 18:17] jleni commented on #33
U2F was been deprecated by Ledger for a long time already.

[2022-02-12 18:17] #33 closed, assigned to nobody

[2022-02-13 06:42] faboweb commented on #39
@buuni Are you working with https://github.com/cosmos/cosmjs to facilitate signing?

[2022-02-20 18:56] #41 closed, assigned to nobody

[2022-02-20 19:57] jleni commented on #38
We have included a unit test to confirm that it is possible to sign the example.
However, this message has a different structure and it is currently not formatted in a friendly way. We will discuss this in our next sync call

[2022-02-20 20:15] jleni commented on #34
Support for multiple amounts/denominations has been included in #47

[2022-02-20 20:16] #34 closed, assigned to nobody

[2022-02-20 20:16] jleni commented on #39
Closing as this it not part of the scope of a Ledger app

[2022-02-20 20:16] #39 closed, assigned to nobody

[2022-04-04 21:25] Byte1122 opened #54 "Ledger + gravitybridge character gives error"
Trying to bridge with IBC from Gravity to Cosmos. Kepler throws an error:

- "Data is invalid: Unexpected characters"

[2022-04-14 11:35] puneet2019 commented on #54
Hey! have seend this error, use the `window.getOfflineSignerOnlyAmino(chainID)` method or `window.getOfflineSignerAuto(chainID)` , ledger only signs amino messages, so if they are custom messages make sure they have amino support in gravity bridge.

[2022-04-20 16:07] chillyvee opened #57 "CLI len(response) < 2 - USB Disconnect?"
Often on CLI TX signing with ledger I get the following error:

[code]

The ledger device may or may not display the TX information. (50/50 chance)

Is there a portion of this project we should look into to help improve?

Or is this related to needing to change the protocol used to establish a better connection with the USB device on ledger?  (U2F vs HID which might take a significant amount of wo

[2022-04-21 06:40] chillyvee commented on #57
This error occurs on OS X on both X64 and M1/ARM64

TLDR -> problem starts in zondax/hid but might be caused by:
   LedgerNanoX + Ledger-Cosmos + OSX + USB HID + CLI combination.

We note a compile warning on junod
../gopath/pkg/mod/github.com/zondax/hid@v0.9.0/hidapi/mac/hid.c:693:34: warning: 'kIOMasterPortDefault' is deprecated: first deprecated in macOS 12.0 [-Wdeprecated-declarations]

We thi

[2022-05-01 23:17] odeke-em opened #59 "app/src: addr_getNumItems unconditionally logs "num_items 1\n" even in expert mode when num_items = 2"
If we examine the code in https://github.com/cosmos/ledger-cosmos/blob/114e3b1a31d1d37c4dd9b5873ec73eb7e9ac11df/app/src/addr.c#L27-L32 we can see that even in expert mode when num_items is changed to 2 we log it firstly then later on unconditionally logging num_items 1.

We can fix it by logging after checking values so either on *num_items or by an else statement so
[code]

[2022-05-05 14:32] ghost opened #61 "Ledger live problem"
After creating an address on cosmos Ledger Live, the message "Verify that your physical wallet is configured with the recovery phrase associated with the selected account." appears systematically whereas I use the right key and I have no problem on the other cryptos.
When I create a new account on Ledger Live I have a different cosmos address yet I have the same path.
To get my receiving address o

[2022-05-06 20:26] philipglazman opened #62 "Advanced Log in Ledger shows wrong prefix for xpub"
In Ledger Live, the `Advanced Logs` object shows an xpub value with the regular cosmos account human-readable prefix (`cosmos`) instead of the bech32 public key prefix (`cosmospub`).

If I recall, an earlier version did in fact display the correct prefix so there might be a regression?

Please let me know if this is the wrong place to file this issue! Thanks!

[2022-05-09 12:29] ghost commented on #61
https://www.youtube.com/watch?v=i72OLqwyQBk

[2022-05-09 12:30] ghost commented on #61
Here is the video where I explain the problem.

I tried with another Ledger and I have the same address that appears.

[2022-05-11 20:15] #59 closed, assigned to nobody

[2022-05-22 21:35] c-michail opened #65 "Ledger: Fail to send token: Data is invalid : Unrecognized error code"
After updating the cosmos app on the ledger i can't send through IBC.
I throws: Fail to send token: Data is invalid : Unrecognized error code

To Reproduce
Steps to reproduce the behavior:

    Update your ledger device with the latest cosmos app
    From keprl go to osmosis chain
    Select an IBC token (eg. Juno) and sent it to another Osmosis address (don't use IBC transfer, click on the asset!

[2022-05-23 07:01] akrueger commented on #65
I also have this issue with Terra IBC tokens (SCRT, OSMO, ATOM) when sending between two Terra wallets.

Also reported this to Keplr team and they feel it's the Ledger Cosmos app.

[2022-05-23 14:17] mrlp4 commented on #65
I had the same issue, and after some discovering with osmosis cli i found up that cosmos app on ledger wont accept token denom  longer that 49 symbols. I found that it only related to transfer transaction, swap or IBC send works well.
Got it confirmed with multiple chains - Juno, Osmosis, Bostrom. At every one native tokens (with short denom) sends work, wile non-native dont.
Everything works well

[2022-05-23 22:49] c-michail commented on #65
The problem is that we can not revert back until the fix it!

[2022-06-02 22:14] intercos commented on #65
The issue of IBC token send impossible
It's definitely something to do with the Cosmos App update.
https://github.com/chainapsis/keplr-wallet/issues/368#issuecomment-1145385768

[2022-06-04 09:19] c-michail commented on #65
Can anybody fix it please ?  Devs seems not looking the "issue" list!

Thank you

[2022-06-05 11:13] Terminal-Geek commented on #65
This bug makes it impossible, to supply any IBC assets to Kava lend or to withdraw. So my Atom is stuck there. Please fix.

<img width="357" alt="ledger_ibc_bug" src="https://user-images.githubusercontent.com/8039316/172047849-8412fd5b-311e-47c3-b6b1-8aca0a0d290a.png">

[2022-06-05 17:09] Terminal-Geek opened #66 "Kava Lend - IBC assets can't be supplied/withdrawn"
#### Ledger Live Version and Operating System

- tested on Ledger Live 2.42.0
- Platform and version: MacOS 12.2.1

#### Expected behavior

Supplying IBC assets to Kava lend via kava.io

#### Actual behavior

Supplying/withdrawing IBC assets with the COSMOS app (2.34.4) is no longer possible after one of the latest updates. Assets are stuck. See screenshot with error message below.

#### Steps to

[2022-06-05 17:23] wickles commented on #65
Cameron from Kava Labs has been saying that they have posted a PR to fix this over a month ago but it has not been accepted yet. I have not been able to find that PR but he claims the Kava team has been in contact with the Ledger team about it. It seems like there is some seriously poor communication between the teams in resolving this issue. Please get it together. @Kava-Labs @LedgerHQ @Zondax

<

[2022-06-05 22:57] kvaintr commented on #66
Confirm. This happens only with IBC assets in one part of the application. This is the message that fails for IBC assets only. If the denom is not ibc (e.g. ukava) then the tx works fine. Keplr without ledger can sign this tx without problems. Keplr+ledger fails. Ledger without Keplr also fails.
[code]
A different type of tx with IBC token that works fine and has no issues:
[code]
Also IBC transfe

[2022-06-23 01:54] c-michail commented on #65
@ftheirs @Saltari  Anyone of you alive or dead ? We need a FUCKING FIX for GOD SAKE!

Thank you

[2022-06-25 06:15] Terminal-Geek commented on #65
PUSH! Any news about this?

[2022-06-26 16:43] Terminal-Geek commented on #66
Is this project still alive? @ftheirs @Saltari

[2022-06-27 08:45] penguinpablo commented on #65
I have been waiting for a solution for a month now. Can someone pick this up please?
My ATOM tokens are stuck on Kava due to this issue.

[2022-06-27 09:00] mrlp4 commented on #65
dude, i'm not a dev here, but can advice you to do IBC transfer instead of normal transfer
it works for me when i send atoms in osmosis

[2022-07-04 23:19] ftheirs commented on #66
Hi everyone! We've made some fixes for IBC and the release is published here: https://github.com/cosmos/ledger-cosmos/releases/tag/v2.34.5

You can install Zondax release only in NanoS and NanoS+:

- Download installer_nanos.sh (or nanos_plus depending on your device)
- Give execution permission (chmod +x installer_nanos.sh)
- Install version 2.34.5 (./installer_nanos.sh load) ---> This will unins

[2022-07-04 23:20] ftheirs commented on #65
Hi everyone! We've made some fixes for IBC and the release is published here: https://github.com/cosmos/ledger-cosmos/releases/tag/v2.34.5

You can install Zondax release only in NanoS and NanoS+:

- Download installer_nanos.sh (or nanos_plus depending on your device)
- Give execution permission (chmod +x installer_nanos.sh)
- Install version 2.34.5 (./installer_nanos.sh load) ---> This will unins

[2022-07-05 01:48] c-michail commented on #65
THANKKKKK YOOOUUUUUUUU!!! Finallyyyyyyyyyyyy!!!! 💯 🥳

Don't forget NanoX!

[2022-07-05 05:35] Terminal-Geek commented on #65
Thank you, looking forward the public release. Do you have an ETA?

Regards

[2022-07-05 11:30] ftheirs commented on #61
Hi @LaugierHugo, thanks for reporting this issue! It's fixed now 🙂

[2022-07-05 11:30] #61 closed, assigned to nobody

[2022-07-05 12:34] ghost commented on #61
Hello, thank you for your feedback.
Very well for the corrected problem, but how do I do on my side to recover on the blocked address?
@ftheirs

[2022-07-06 08:10] ghost commented on #61
@ftheirs

[2022-07-06 16:18] codehans commented on #66
@ftheirs what's the progress with the release of this on Ledger Live please? Ledger don't seem to know anything about it ![image](https://user-images.githubusercontent.com/94654388/177596966-ff6670cb-5fdc-4b13-9261-b3e21851862b.png)

[2022-07-06 17:46] ftheirs commented on #66
The PR was created (https://github.com/LedgerHQ/app-cosmos/pull/19) but Ledger needs to perform the security review. However this is only needed for NanoX users. For NanoS and S+, it's possible to user this repo's release in order to move tokens.

[2022-07-08 08:20] Terminal-Geek commented on #66
Thanks for the update! Since I'm a NanoX user I'm afraid I have to wait. Any idea how to urge Ledger team to finalize the security check? This bug blocks my tokens for too much time already.

[2022-07-13 19:31] ftheirs commented on #65
I will close this issue since it's duplicated. Conversation can be followed here https://github.com/cosmos/ledger-cosmos/issues/66
However, it's a matter of time to get a new cosmos release published by Ledger.

[2022-07-13 19:31] #65 closed, assigned to nobody

[2022-07-13 20:35] ftheirs commented on #54
Hi @Byte1122! Could you provide more info so we can reproduce this?
App version, firmware version and if you have the transaction would be great 😄

[2022-07-17 11:57] ghost opened #68 "Unable to retrieve my Atom on my Ledger"
I helped to identify and correct a bug, which consisted in giving a wrong address.

https://github.com/cosmos/ledger-cosmos/issues/61

I was told that the bug had been corrected, but unfortunately no one is helping me get my Atom back.
I helped spontaneously so that this would not happen to other people, I think that my participation allowed the products to be of better quality, I would like now t

[2022-07-17 15:33] jleni commented on #68
The tickets in this repo track the technical issue on the software published here.
This is the reason the engineer closed it.
Having said this, both Ledger and ICF are aware of your situation and I understand it is being discussed at the moment.

[2022-07-17 17:16] ghost commented on #68
Thank you very much for your feedback, yes they are aware of my situation.
I'm going to contact them again, hoping to get an answer

[2022-07-18 14:26] #68 closed, assigned to nobody

[2022-07-19 12:33] ainhoa-a commented on #66
Hi, just wanted to inform you that the Cosmos 2.34.6 update has been published and is now available in Ledger Live manager on LNS,LNS+, and LNX :LedgerWallet. This update solves the issue described here.

[2022-07-19 12:33] ainhoa-a commented on #54
Hi, just wanted to inform you that the Cosmos 2.34.6 update has been published and is now available in Ledger Live manager on LNS,LNS+, and LNX :LedgerWallet. This update solves the issue described here.

[2022-07-19 12:33] #54 closed, assigned to nobody

[2022-07-19 17:16] jleni commented on #22
@marbar3778
could you please move this issue to this repo?
https://github.com/tendermint/ledger-validator-app/issues

[2022-07-19 17:18] jleni commented on #62
This bug applies to Ledger Live, not the cosmos app.

[2022-07-19 17:18] #62 closed, assigned to nobody

[2022-07-20 03:47] Rizbe commented on #66
Running `2.34.6` on my ledger nano X and still seeing this issue

[2022-07-20 08:57] jleni commented on #66
Could you provide more information about this? We had multiple reports from other people that it was working well. Could you provide more context? What kind of messages are you trying to sign?

[2022-07-20 09:09] jleni commented on #66
Just for context, we have a maintenance agreement with Cosmos/ICF, if the problems are very Kava specific, we may need additional information of what kind of messages are being passed.
Something similar to these test vectors https://github.com/cosmos/ledger-cosmos/issues/66#issuecomment-1146898206 would be very useful

[2022-07-20 14:22] Rizbe commented on #66
[code]

[2022-07-20 14:23] Rizbe commented on #66
Will post this info soon
https://github.com/cosmos/ledger-cosmos/issues/66#issuecomment-1190025450

[2022-07-20 14:25] Rizbe commented on #66
This issue is happening for
https://gelotto.io/

If you prefer, I can open a new issue instead of using this one

[2022-07-20 15:47] ainhoa-a commented on #66
Hi @Rizbe I'm closing this ticket as what your comment about gelotto is a different topic. Please, let's track this separately.

[2022-07-20 15:47] #66 closed, assigned to nobody

[2022-08-01 13:32] #38 closed, assigned to chcmedeiros

[2022-08-09 09:50] ainhoa-a commented on #22
Not relevant for this repo, will be closed.

[2022-08-09 09:50] #22 closed, assigned to nobody

[2022-09-30 16:46] vietnamese-chowder opened #71 "Support for MsgSetWithdrawAddress"
I'm trying to sign a `MsgSetWithdrawAddress`, and correct me if I'm wrong, but it seems it's not supported currently. During signing I see `cosmos-sdk/MsgSetWithdrawAddress` as the message type as opposed to "Withdraw Address" or something like that and the withdraw address field name is also not "prettified" as with `MsgSend` or `MsgDelegate`, and sending with it throws a signature error. Can you

[2022-10-04 17:48] vietnamese-chowder commented on #71
Not sure if necessary, but here is the documentation on this type of message: https://docs.cosmos.network/v0.44/core/proto-docs.html#cosmos.distribution.v1beta1.MsgSetWithdrawAddress

[2022-11-02 14:11] fedekunze opened #73 "Add display substitutions for IBC transactions"
Given that SIGN_MODE_TEXTUAL is taking longer than expected. I propose adding the necessary substitutions for IBC transfers and other relevant transactions and denominations

Ref: [tx_display.c](https://github.com/cosmos/ledger-cosmos/blob/main/app/src/tx_display.c#L455)

[2022-11-03 16:53] ftheirs commented on #73
Hi @fedekunze! The specs for SIGN_MODE_TEXTUAL are ready and we've started with the development!

[2022-11-30 18:21] 0xForerunner opened #74 "Unable to recreate generating the address for SECP256K1"
I've been following the spec written [here](https://github.com/cosmos/ledger-cosmos/blob/main/docs/APDUSPEC.md) using the cosmos app on my ledger, but I am getting rather unhelpful errors. The exact information that I am sending to my ledger lookalike this
[code]

If anyone has any info on what's going on here it would be greatly appreciated. This is specifically trying to return the SECP256K1 pub